.nav-section{
    .navbar{
        z-index: 1;
    }
}
.banner-section{
    margin-top: -56px;
    .imgWrapper{
        @media (max-width: 575.98px){
            height: 235px;
    overflow: hidden;
        }
        img{
            width: 100%;
            height: auto;
            @media (max-width: 575.98px){
                object-fit: cover;
                height: 100%;
            }
        }
    }
}