.nav-section{
    .navbar{
        z-index: 1;
    }
}
.banner-section{
    margin-top: -56px;
    .imgWrapper{
        @media (max-width: 575.98px){
            height: 290px;
    overflow: hidden;
        }
        img{
            width: 100%;
            height: auto;
            @media (max-width: 575.98px){
                object-fit: cover;
                height: 100%;
            }
        }
    }
}

.title-section{
    padding-top: 30px;
    .title{
        text-align: center;
        p{
            font-family: 'Italianno', cursive;
            font-size: 42px;
            text-align: center;
            margin-bottom: 0;
            color: #33add7;
        }
        span{
            text-align: center;
            color: #33add7;
        }
    }
}